@media screen and (min-width:768px) {
.conteiner{
width: 750px; 
}
.header-link{
display: block;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-title-color);
font-style: normal;
padding-top: 32px;
padding-bottom: 32px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
position: relative;
}
        
.header-contacts{
display: block;
    /*margin-left: auto;*/
    /* margin-right: auto;*/
            
}
.contacts-list{
display: block;
margin-bottom: 10px;
}
            
.contacts-list:not(:last-child){
margin-right: 50px;
}
            
.header-contacts-link{
display: flex;
align-items: center;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primery-text-color);
font-style: normal;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
         
.header-list{
align-items: center;
display: flex;
 margin-right: 50px;
}
.header-item   {
display: block;
}    
.header-item:not(:last-child){
 margin-right: 50px;
}
.logo-item{
margin-right: 93px;
}
.contacts-list{
justify-content: center;
align-items: center;
cursor: pointer;
fill: var(--primery-text-color);
}
            
.contacts-icon{
margin-right: 10px;
fill: currentColor;
}

            
.current::after{
content:'' ;
position: absolute;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: var(--accent-color);
display: block;
bottom: -1px;
}
.menu-open, .mob-menu-open{
display: none;
}
/*---------------ховери та фокус------------------*/
.header-contacts-link:hover,.header-link:hover,
.header-contacts-link:focus,.header-link:focus,.current-link
{color:var(--accent-color);
}
        
.footer-contacts:hover,.footer-adres:hover,.header-list:hover,
.footer-contacts:focus,.footer-adres:focus,.header-list:focus{
color: var(--accent-color);
}
    /*-------------------------------------------*/
.section-hero{
padding-top: 112px; 
padding-bottom: 204px;
background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
url(../images/hero.img/hero-bg-tab.jpg);
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.box {
background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
url(../images/hero.img/img-2x/Dark-tab-bg-2x.jpg);
}
}

    /*--------------------------------*/
.pre-title{
font-weight: 900;
font-size: 56px;
line-height: 1.36;
letter-spacing: 0.06em;
margin-left: auto;
margin-right: auto;
}

.advantage-title{
width: calc(100% / 2 - 60px);
margin-left: 30px;
margin-top: 30px;
}
.advantage-title-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.11;
    font-size: 36px;
    color: var(--secondary-title-color);
    text-transform: capitalize;
    margin-bottom: 8px;
    font-style: normal;
    justify-content: center;
    align-items: center;
    }
menu-open
/*----------------------------------------------*/
    
.team{
padding-top: 102px;
padding-bottom: 94px;
background-color: var(--color-btn);
}           

/*-----------------------------------------------*/

    
.position{
width: calc(100% / 2 - 60px);
}
.client-item{
width: calc(100% / 3 - 30px);
}


/*-------------------------------------------------*/

.footer-item {
display: flex;
align-items: baseline;
}
.footer-input-span{
display: flex;
}
.footer-btn{
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    background-color: var(--accent-color);
    border-radius: 4px;
    border: none;
    color: var(--primary-title-color);  
    padding: 10px 28px;
    margin-left: 10px;
    cursor: pointer;
    align-items: center;  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

    